$size: 200px;

.bubble {
  font-family: Calibri;
  display: inline-block;
  color: #ffffff;

  &.bounds {
    border-radius: 100%;
    width: $size;
    height: $size;
    background-color: #ed7d317f;
  }

  &.name {
    font-size: $size * 0.25;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
  }

  &.content {
    position: relative;
    top: -100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.grid {
  width: 100%;
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fill, minmax(10px, 1fr));
}

.gridItem {
  background-color: rgba(72, 210, 30, 0.5);
  border-radius: 100%;
}

body {
  margin: 75px;
}
